[2020-10-23 18:25] clausherther opened #1 "Set up automated integration testing"
We should set up Github Actions or something similar to allow us to kick off integration tests. This could be triggered to avoid BigQuery charges, or automated (at least for Postgres)

[2020-10-23 18:25] clausherther opened #2 "Documentation tasks"
Complete documentation for existing tests

[2020-10-24 14:07] clausherther opened #3 "Test for cross-platform compatibility"
The tests are currently only integration tested in BigQuery. We need to test on Postgres and Snowflake at least, ideally also on Redshift.

If needed, this should spawn additional issues to make certain macros adapter macros for better cross-platform compatibility.

[2020-11-02 15:44] clausherther opened #4 "Implement Missing Expectations"
- [x] [expect_table_columns_to_match_ordered_list](https://docs.greatexpectations.io/en/latest/autoapi/great_expectations/dataset/dataset/index.html#great_expectations.dataset.dataset.Dataset.expect_table_columns_to_match_ordered_list)

- [x] [expect_column_values_to_be_of_type](https://docs.greatexpectations.io/en/latest/autoapi/great_expectations/dataset/dataset/index.html#great_expectations.dat

[2020-11-02 15:44] clausherther opened #5 "Implement RegEx Expectations"
- [x] [expect_column_values_to_match_regex](https://docs.greatexpectations.io/en/latest/autoapi/great_expectations/dataset/dataset/index.html#great_expectations.dataset.dataset.Dataset.expect_column_values_to_match_regex)
- [x] [expect_column_values_to_not_match_regex](https://docs.greatexpectations.io/en/latest/autoapi/great_expectations/dataset/dataset/index.html#great_expectations.dataset.datas

[2020-11-02 22:13] clausherther opened #6 "Convert test macros to use expression_is_true where possible"
Convert test macros to use expression_is_true where possible.

E.g. https://github.com/calogica/dbt-expectations/blob/main/macros/schema_tests/multi-column/expect_column_pair_values_to_be_equal.sql

[2020-11-02 22:15] clausherther opened #7 "Validate macro input arguments"
Where it makes sense, we should check inputs for datatype, length etc before processing, and if necessary raise an exception via `exceptions.raise_compiler_error`.
See: https://github.com/calogica/dbt-expectations/blob/b69ac04cacfe1dfaf1de129778908898e666f9e3/macros/schema_tests/multi-column/expect_compound_columns_to_be_unique.sql#L16

[2020-11-02 23:37] #4 closed

[2020-11-02 23:44] #6 closed

[2020-11-03 00:24] clausherther opened #8 "Implement missing test parameters"
We should compare the macro parameters for all expectations to make sure they match (as much as applicable) their Python equivalents.
E.g. `expect_column_values_to_be_between` does not implement the `strict_min`, `strict_max` or `mostly` parameters.

[2020-11-06 13:42] abegong opened #9 "Alternatives to re-implementation?"
Hi @clausherther !

I'm one of the maintainers of Great Expectations. I'm excited that you're working on bringing dbt and GE functionality together. Lots of teams use both tools, and we're very supportive of even closer collaboration.

Looking at your implementation, I can see several places where we can probably save you some work, but the right way to implement will depend on exactly what you're

[2020-11-06 13:52] clausherther commented on #9
Hi @abegong, that sounds great! This mostly started as a spike to see if I can SQL puzzle my way though this, and also as an effort to have a comprehensive reusable dbt test package. Happy to chat about where to take this! I'm at claus@calogica.com if we want to set something up next week. Thanks!

[2020-11-06 14:16] abegong commented on #9
Awesome, I'll ping you in just a moment.

[2020-11-07 10:18] misteliy commented on #9
The problem with current state is that you GE is not part of the dbt execution. Hence, a dbt package makes a lot of sense to me.

[2020-11-07 10:35] misteliy opened #10 "dbt deps"
with packages.yaml:

packages:
  - git: "https://github.com/calogica/dbt-expectations.git"
    revision: 0.1

running dbt deps I get this error:
Running with dbt=0.18.0
Encountered an error:
Got a non-zero returncode running: ['git', 'clone', '--depth', '1', 'git@github.com:calogica/dbt-date.git', '36b63a0bdea5f3e5d232c299b76e1160']

also having the dependencies in there directly does not solve th

[2020-11-09 19:59] clausherther commented on #10
I'm so far not able to reproduce this using dbt 0.18.1, but I'll look into more. Thanks!

[2020-11-09 21:08] misteliy commented on #10
Unfortunately, also updating to 0.18.1 did not solve the issue:

dbt deps

Running with dbt=0.18.1
Encountered an error:
Got a non-zero returncode running: ['git', 'clone', '--depth', '1', 'git@github.com:calogica/dbt-expectations.git', '302c8ef7290af78b223a10403d76f27f']

[2020-11-09 21:53] clausherther commented on #10
Would you mind checking if you can perform a regular git clone of the repo somewhere on that same machine? I want to see if this a git access/permissions thing, or something about the packages.yml syntax.
[code]

[2020-11-09 22:02] clausherther commented on #10
@misteliy also, would you mind replacing the ref in your `packages.yml` with
[code]

[2020-11-09 22:20] clausherther commented on #10
Actualy, nevermind, figured out the issue (needed to replace my refs to dbt-date with the https versions). I'll cut a new release you can use. In the meantime, you can test to see if it works for you by pulling against the `main` branch
[code]

[2020-11-09 22:23] clausherther commented on #10
Released as `revision: 0.1.2`

[2020-11-09 22:58] clausherther commented on #9
Just to close this out: Abe, Tal, Sam and I met today to chat. While I (and others!) will maintain this dbt/SQL-based version for those use cases where Python isn't an option (current dbt Cloud etc), we will work with the GE team to stay in sync on API changes and especially test cases and test datasets. More to come.

Thanks!

[2020-11-09 22:58] #9 closed

[2020-11-10 14:34] clausherther commented on #10
Closing as this was fixed in https://github.com/calogica/dbt-expectations/releases/tag/0.1.2

Feel free to reopen if you're still having issues.

[2020-11-10 14:34] #10 closed

[2020-11-23 21:00] clausherther commented on #5
Complete

[2020-11-23 21:00] #5 closed

[2020-11-23 21:03] clausherther opened #11 "Implement 'mostly' in expression tests"
We should support the `mostly` parameter in expression tests as a float that controls what % of rows need to satisfy the given expression test. Default is 100%.

[2020-11-30 09:10] misteliy opened #12 "reference a view and not a table"
Hi,

I wanted to reference a view:

models:
  - name: my_table
    description: This table contains our toy model
    tests:
      - dbt_expectations.expect_table_column_count_to_equal_other_table:
          compare_model: ref("my_table_view")

resulting in:

Failure in test dbt_expectations_expect_table_column_count_to_equal_other_table_my_table_ref_my_table_view_ (models/my_first_folder/schema.y

[2020-12-10 15:21] dmasip-rxd opened #13 "Dbt deps issue"
Running `dbt deps` with the following `packages.yml`

[code]

I get:

[code]

It's confusing since I'm actually running with dbt_utils version `0.5.1`. Is this expected?

[2020-12-11 07:59] #13 closed

[2020-12-14 23:46] clausherther commented on #12
Hey @misteliy sorry just saw this, somehow I didn't set up GH notifications correctly.

No, there's no reason the tests shouldn't work with views, in fact my initial integration tests were using views. Any chance this is an underlying data problem? Which platform (BG, Snowflake..) are you on?

I'll check this out locally, but please let me know if you're still seeing this.

[2020-12-14 23:55] clausherther commented on #12
Confirmed this works on BQ and Snowflake:

- Created a view that selects from test table
`data_test_view.sql`
[code]

Confirmed that test works in both directions:
[code]

[2020-12-14 23:56] clausherther commented on #12
Closing this, but feel free to reopen if you're still having this issue. Thanks!

[2020-12-14 23:56] #12 closed

[2021-02-06 01:11] eric3kim opened #15 "filter_by needed for all methods"
It will be great if we can limit the data set. Some tables could be huge and it just takes too long to complete within CI pipeline.

[2021-02-06 01:28] eric3kim opened #16 "Number out of representable range"
Error: 100046 (22003): Number out of representable range: type FIXED[SB16](38,12)
The error is occurring due to below error in Snowflake.
https://community.snowflake.com/s/article/Number-out-of-representable-range-error-occurs-during-the-multiplication-of-numeric-values

[2021-02-06 02:16] clausherther commented on #15
Hi @eric3kim, all tests, where applicable have a `row_condition` parameter that should work for this purpose, although I need to do a better job documenting this. Could you let me know which ones you're seeing that don't have this?

[2021-02-06 02:19] clausherther commented on #16
Hi @eric3kim which test is causing this error? Also could you please add any more context so I can try to reproduce this?

[2021-02-06 22:35] eric3kim commented on #15
thanks! good to know.  I figured. so row_condition = <where clause>? I have not tried this so I will with the ones that I need. Thanks!

[2021-02-06 22:41] eric3kim commented on #16
Apologies, should've been a little more helpful. I am doing expect_column_values_to_be_within_n_moving_stdevs and expect_column_values_to_be_within_n_stdevs on more than billions of rows with column NUMBER(19,4).

[2021-02-06 23:32] clausherther commented on #16
I think the full test yaml specification would help, although I suspect this is largely a factor of your actual data. These two tests happen to not yet `row_condition` implemented and I'm not sure how to best incorporate a filter in this case. Happy to accept PRs though if you have any suggestions.

[2021-02-06 23:36] clausherther commented on #15
Yes, you'd just add something like
[code]
I'm going to close this issue. Feel free to reopen if this isn't working for you.

[2021-02-06 23:36] #15 closed

[2021-02-18 17:34] tcwou opened #17 "expect_column_values_to_be_between unexpected behavior"
expect_column_values_to_be_between should use the "and" operator instead of "or"

[code]

[2021-02-18 18:53] clausherther commented on #17
Whoa! Leftover from a previous implementation. Thanks for finding this. Should be a quick fix.

[2021-02-18 22:07] #17 closed

[2021-02-18 22:10] clausherther commented on #16
@eric3kim closing this, feel free to reopen if you have a bit info on how you're using this test. Thanks!

[2021-02-18 22:10] #16 closed

[2021-02-18 22:12] clausherther commented on #17
@tcwou fyi, cut a new release, should be on the dbt hub site shortly

[2021-03-04 12:20] ChristianKohlberg opened #22 "expect_column_values_to_be_of_type returns "character varying (16777216) for text data types"
SnowflakeColumn(column='ENTITY', dtype='VARCHAR', char_size=16777216, numeric_precision=None, numeric_scale=None)

column.dtype returns "VARCHAR"
column.data_type returns "character varying(16777216)"

implementation could be changed to use .dtype instead of .data_type like so:
[code]

[2021-03-04 15:31] clausherther commented on #22
Hi @ChristianKohlberg, thanks for filing the issue! That's really interesting. Are you on dbt 0.19? According to the [docs](https://docs.getdbt.com/reference/dbt-classes#properties), `data_type` _should_ be the correct property but I see in the code 0.19 that they reference `dtype`. Let me ask on the Slack channel before going down this route, but I agree that's not great if `data_type` returns th

[2021-03-04 15:47] clausherther commented on #22
FYI, looks like there's a bug in how it deals with BQ data types, which led me down the wrong path https://getdbt.slack.com/archives/C2JRRQDTL/p1614872428424400

[2021-03-04 18:33] ChristianKohlberg commented on #22
tests executed against dbt v0.18.1.

within dbt the code hasnt changed between 0.17.X until 0.19.X, see [here](https://github.com/fishtown-analytics/dbt/blob/51ccbab1e2ca83c2c02740847ab2057b1cc033bb/core/dbt/adapters/base/column.py#L42):

dtype looke more like what we are after, if we want to be more abstract, while we should use data_type if we want to be more specific.

[code]

[2021-03-04 18:57] clausherther commented on #22
Makes sense. Just confirmed that it's ok to use `dtype` even if it's not in the official API.

It'll take a bit to also fix the integration tests for Snowflake, but should have something by the weekend.

[2021-03-04 22:10] clausherther opened #24 "Fix integration tests on Snowflake"
The `timeseries_hourly_data_extended` model for integrations tests does not work as intended on Snowflake.

[2021-03-04 22:11] #22 closed

[2021-03-14 17:13] bab354 opened #27 "[BUG] expect_column_distinct_count_to_equal"
Was trying to use this test: expect_column_distinct_count_to_equal

but when I put it in my YML file like so:
![image](https://user-images.githubusercontent.com/25424439/111077386-f690ae00-84c6-11eb-9051-177815562d04.png)

I get the following error:
![image](https://user-images.githubusercontent.com/25424439/111077401-001a1600-84c7-11eb-95f7-c11830cdcc03.png)

[2021-03-14 17:15] bab354 commented on #27
DBT version: 0.19.0
dbt expectations package: 0.2.2

[2021-03-14 17:22] bab354 commented on #27
just upgraded to version 0.2.7 and it resolved itself but probably worth highlighting somewhere that that test may not work for older versions

[2021-03-14 20:31] clausherther commented on #27
Hi @bab354! This test was a new addition in `0.2.4` (see https://github.com/calogica/dbt-expectations/releases/tag/0.2.4) which is why it didn't work with the older version.
The best way to stay current is to use dbt Hub which always has the latest release (see https://github.com/calogica/dbt-expectations#install).

[2021-03-14 20:31] #27 closed

[2021-03-14 21:36] bab354 commented on #27
ahh got it, thanks @clausherther sorry for the false alarm!

[2021-03-14 22:38] b-per opened #28 "No boolean support in SQL Server"
Hi!

I tried to run `dbt-expectations` on my Azure SQL DB, and while some tests are working out of the box, other ones are raising SQL errors.

One of them is due to the macro `expression_is_true.sql`. The current macro performs a logic test in `{{expression}}` in the `select` statement but this is not valid in SQL Server. My current workaround is to change the default `test_condition="= true"` to

[2021-03-15 15:16] clausherther commented on #28
Hi @camfrout! Thanks for raising this issue, very interesting to hear that SQL Server doesn't support booleans. I don't have ~~a lot of~~ any experience with Azure SQL, but I'd be happy to accept a PR from you if you're interest in adding and testing that?
For example, I could see refactoring the `expression_is_true` macro into an adapter macro with a special case for Azure. Happy to help with the

[2021-03-15 21:42] b-per commented on #28
Thanks! I'll give a go at the adapter and will let you know if I have questions on the syntax then.

[2021-03-16 05:01] b-per commented on #28
It actually took some work to get the integration tests running on SQL Server. I will keep this issue opened for now but I will most likely suggest a few PRs in `dbt-date` and in this repo, targeting the integration tests before tackling the first issue.

The good news is that in my first tests the dispatcher to target SQL Server is working just fine.

[2021-03-17 21:40] b-per commented on #28
Hi @clausherther.

With this repo, would your suggestion be to keep it for Snowflake, BigQuery and Redshift/Postgres like `dbt-date` and create other DB specific versions in different repos?

[2021-03-17 23:18] clausherther commented on #28
@b-per yes, that was my longer term plan. We sort of support Spark right now, but I think it would also make sense to break out non-core support into a sub package.

[2021-03-27 03:32] b-per commented on #28
Initial support for T-SQL is now available through an adapter package: https://github.com/b-per/dbt-expectations-tsql

[2021-03-27 03:32] #28 closed

[2021-03-27 03:40] b-per opened #30 "Integration test fails depending of the time of the day"
Hi!

 I have been running the integration tests and the following test fails depending on the time of the day (before or after midday)

[code]

`timeseries_hourly_data_extended` uses `date_spine` up to to today, while excluding it (as described in dbt-utils: "_This macro returns the sql required to build a date spine. The spine will include the start_date (if it is aligned to the datepart), but it

[2021-03-28 15:08] clausherther commented on #30
Gotcha, yeah that would make sense. I'll change that today. Thanks!

[2021-03-28 15:17] #30 closed

[2021-03-28 15:46] #24 closed

[2021-04-07 23:56] Pegspeterson opened #33 "macro test_expect_column_distinct_values_to_be_in_set returns false positive"
I think that the final where clause in macro test_expect_column_distinct_values_to_be_in_set
should be
      where
          **_s_**.value_field is null

not
      where
          **_v_**.value_field is null

[2021-04-08 01:10] clausherther commented on #33
Good eye @Pegspeterson, thanks for raising that issue. You're right, [this line](https://github.com/calogica/dbt-expectations/blob/7d52fd5615592603c1f7c0e6e4f30188a5e9c7d9/macros/schema_tests/aggregate_functions/expect_column_distinct_values_to_be_in_set.sql#L47) is wrong, will get that fixed!

[2021-04-08 01:16] #33 closed

[2021-04-09 15:15] nysthee commented on #1
I would like to work on this!

[2021-04-09 15:42] clausherther opened #38 "Fix integrations tests on Postgres"
Integration tests currently fail on local Postgres instance

[code]

[2021-04-09 16:53] Pegspeterson commented on #33
Thank you for the quick fix!  I was able to validate and it now fails as expected.

[2021-04-10 14:24] clausherther opened #39 "Fix regex_instr for Postgres"
`regex_instr` doesn't exist on Postgres, so we'll need to implement something using regexp_matches

[2021-04-10 14:26] #39 closed

[2021-04-10 14:26] #38 closed

[2021-04-14 18:54] clausherther opened #41 "equal_expression macro doesn't support integer division correctly"
expression_difference_percent
[code]
should be
[code]
or more explicit cast, otherwise result is 0 on platforms where integer division doesn't result in decimal

[2021-04-14 18:56] clausherther opened #42 "expect_table_row_count_to_equal_other_table should support row_condition"
should at least support `row_condition`, `compare_row_condition` if not other params of `equal_expression`:

[code]

[2021-04-19 14:26] clausherther opened #43 "equal_expression should return expression_difference"
Currently only returns `1` if there was a difference

[2021-04-19 15:01] #41 closed

[2021-04-19 15:01] clausherther commented on #43
Closed via #44

[2021-04-19 15:02] #43 closed

[2021-04-19 15:17] #42 closed

[2021-04-22 14:26] clausherther opened #47 "Add a test to check for recent rows at each grouping level"
We should add the ability to check for recent data at a grouping level via a `group_by` parameter.
For example, a user might expect recent rows for every product in a fact table. So, a recency check should look at grouped rows for each product_id that does not meet the recency requirement.

e.g.
[code]
Name: `expect_grouped_row_values_to_have_recent_data`?

Note: this would only cover grouped valu

[2021-04-22 15:02] jeffwhite-indeed commented on #47
This looks great. This should be able to work with SCD2 Dims as well, correct?

[2021-04-22 15:05] clausherther commented on #47
@jeffwhite-indeed yes, this works with any single table, as long as you have column you want to `group by` and a timestamp or date column to check for recent values for each grouped row. So fact tables or type 2 dimensions in a dimension model, or other tables like that.

[2021-04-22 15:10] jeffwhite-indeed opened #48 "Add test to compare distinct counts between tables"
Can we consider a test that would check that all distinct source records are present on a target table? This could confirm that our warehouse isn't missing any ids. I would imagine it might be similar to the **expect_table_row_count_to_equal_other_table** test, but with a `distinct` allowed?

[2021-04-22 15:10] jeffwhite-indeed commented on #47
Perfect

[2021-04-22 19:10] #47 closed

[2021-04-22 19:18] clausherther commented on #48
This could in theory be accomplished today using the base `equal_expression` macro, and we can easily wrap this in a more specific "expectation".

[code]

[2021-04-22 19:44] #48 closed

[2021-04-23 15:05] jeffwhite-indeed commented on #48
Ha. Correct. I missed this macro as I was only reviewing the ones in the README. Cheers!

[2021-05-04 14:11] sisu-callum opened #56 "dbt Spark Utils causing breaking error"
Looks like spark utils got upgraded to 0.2.0 and this is causing a breaking error in dbt deps because the packages can't find a satisfactory version.

**Also applies to date package**

[2021-05-04 15:11] #56 closed

[2021-05-11 14:38] clausherther opened #59 "Update expectations to at least pass integrations tests for dbt==0.20.0-b1"
We need to rewrite expectations to return failing rows, not counts

[2021-05-11 14:39] clausherther opened #60 "Refactor expectations to use new dbt 0.20 test syntax"
See https://docs.getdbt.com/docs/building-a-dbt-project/tests

[2021-05-11 15:09] swanderz opened #62 "get_select() TSQL compatibility"
as part the work in https://github.com/dbt-msft/tsql-utils/pull/44 to make this package compatible with the dbt-msft adapters, I'm stuck trying to shim the first macro

how can I make this query TSQL- and dbt-expectations-compatible? I'm struggling to grok the intent behind `dbt-expectations.test_equal_expression()`'s default argument of `groupby=['col']`.

[Here's a long write up](https://gist.gi

[2021-05-12 08:03] b-per commented on #62
In T-SQL `a cross join b` should work fine, yes

[2021-05-20 15:22] #62 closed

[2021-05-28 18:07] clausherther opened #72 "Implement `strictly` for between & greater tests"
If `strictly: true` then `between` and `greater` tests should use `>` and `<` vs `>=` and `<=` operators.

[2021-05-28 19:41] clausherther opened #75 "Support `group_by` in `expect_table_row_count_to_equal`"
This currently sets group_by to None

[2021-05-29 00:29] clausherther opened #76 "Update docs with parameters for each test"
We should list each parameter in the example docs and indicate whether it's required or optional.

Example:

[code]

[2021-05-29 00:31] #72 closed

[2021-05-29 00:33] #75 closed

[2021-05-29 00:33] clausherther commented on #75
Closed via #74

[2021-06-06 16:56] jtcohen6 commented on #59
We just released 0.20.0rc1, and it includes a new config, [`fail_calc`](https://next.docs.getdbt.com/reference/resource-configs/fail_calc), that makes it possible to use calculations other than `count(*)` against failing rows. I think this will be important for backwards consistency with test queries that previously returned other numbers.

I took a look at #61, I can leave a few comments.

[2021-06-06 17:18] jtcohen6 opened #78 "Changes to dispatch in dbt v0.20"
Hey Claus! Planning to open this same issue in the `dbt-date` package momentarily :)

### Required code change

We've made a change to `adapter.dispatch`: Instead of passing a `_get_namespaces()` macro to the `packages` arg, you should pass the name of this package (as a string) to the `macro_namespace` arg, which is now the second positional argument.

In practice, this just looks like switching

[2021-06-06 23:22] clausherther commented on #78
Hi @jtcohen6, thanks for much for this and the issue in `dbt-date` and the helpful comments on #61, really appreciate it! It'll take a bit to work through this and plan the 0.19.2/0.20.0 compatible releases, I'll let you know if I have any questions. Thanks again!

[2021-06-11 15:08] clausherther opened #83 "Update docs to show which tests can be applied to ephemeral models"
Tests that involve the info schema only work on tables and views

[2021-06-29 07:16] mirosval opened #85 "Missing from_unixtimestamp"
Hello,

I have updated to dbt `0.19.2` and I'm now getting the following error:

[code]

I've found this commit: https://github.com/calogica/dbt-date/commit/bc5a637868ba5e2fb358e88820cbd5d458d4715c that adds this to `dbt-date` however the currently released version of `dbt-expectations` package is including an older version of that package (though it seems to be up to date on `main`). So I get a v

[2021-06-29 13:24] clausherther commented on #85
Super weird, not sure what's going on there but I'll look into it today. Thanks!

[2021-06-29 13:36] clausherther commented on #85
I take it you're on Redshift? I think I see what's happening. dbt-date 0.3.1 added support for Postgres and other non-BQ/Snowflake platforms for that macro, but I forgot to bump the version here. Let me do a bugfix release of dbt-expectations real quick to bump the version of dbt-date to `< 0.4.0` which should fix this (once it's on dbt-hub)

[2021-06-29 13:53] clausherther commented on #85
Just released `0.3.5` which should fix this. Once it's updated here https://hub.getdbt.com/calogica/dbt_expectations/latest/ you should be able to do a `dbt deps` and get `dbt-expectations 0.3.5` and `dbt-date 0.3.1`.

[2021-06-29 13:53] #85 closed

[2021-06-30 16:27] domfp13 opened #87 "expect_column_values_to_be_in_set not including nulls"
Hi folks,

I am using the following test: expect_column_values_to_be_in_set

when I included null inside of the value_set it keeps throwing out errors, I am working with Redshift

[2021-06-30 16:33] clausherther commented on #87
Hi @domfp13, thanks for creating that issue! Would you mind posting the error and as well your test config with the value_set parameter? I don't have a Redshift instance to test against, but hopefully I can reproduce it in Postgres.

[2021-06-30 16:40] clausherther commented on #87
See: https://getdbt.slack.com/archives/CBSQTAPLG/p1625071167398000?thread_ts=1625069726.397100&cid=CBSQTAPLG

[2021-06-30 16:41] clausherther commented on #87
Basically, if you include `<null>` in `value_set`, it's interpreted as a string, `"<null>"` which will fail in your case.

[2021-06-30 17:52] domfp13 commented on #87
This does not work also
![image](https://user-images.githubusercontent.com/7782876/124008453-b7865a00-d9dc-11eb-80c5-c1883664353b.png)

[2021-06-30 17:54] clausherther commented on #87
@domfp13 correct, `NULL` won't work for the same reason, it'll be converted to a string and since your column probably does't contains `"NULL"` the test will fail.
Have you tried what I suggested earlier?
[code]

[2021-06-30 17:57] domfp13 commented on #87
Worked like a charm! Thanks!!!!!! 🙏

[2021-06-30 17:57] #87 closed

[2021-07-02 17:28] edbizarro opened #89 "Error after upgrade to 0.3.6"
With my packages like:

[code]

I'm getting this error:
[code]

But if we pin the version on 0.3.4 everything works fine

[2021-07-02 17:35] clausherther commented on #89
Hi! I think it's because you're pulling `fishtown-analytics/audit_helper` which pulls `fishtown-analytics/dbt_utils` while `dbt-expectations` is now getting `dbt-labs/dbt_utils` via `dbt-date` so it can't resolve dependencies properly. Can you try updating `fishtown-analytics/audit_helper` to `dbt-labs/audit_helper` ? Same for `fishtown-analytics/codegen`.

[2021-07-02 18:48] clausherther commented on #89
We reverted the update to dbt-date.

[2021-07-02 18:48] #89 closed

[2021-07-07 03:17] ahmedrad opened #90 "expect_column_values_to_be_in_set doesn't seem to be working"
Hi,

I'm looking at the source code for `expect_column_values_to_be_in_set` and it doesn't look like it's validating the fields at all.

[code]

I think to validate for errors either `v.value` needs to be `s.value` or the `left join` needs to be a `right join` .. I can submit a pull request this week but thought I'd let you know first as it might affect a lot of tests.

[2021-07-07 10:56] clausherther commented on #90
Hi @ahmedrad, thanks for submitting this, really good find! You're right, we should make this:
[code]
I think because of the way this is written, the integration test here unfortunately always passes, so this must have snuck by (good example of why we may have to explicitly test failures in the future).

Happy to accept your PR if you have the time, or I can fix it this week.

[2021-07-07 10:58] clausherther commented on #90
Actually, looks like this isn't covered by an integration test, yikes! No wonder.
So, we also have to add a test in https://github.com/calogica/dbt-expectations/blob/main/integration_tests/models/schema_tests/schema.yml

[2021-07-09 03:46] ahmedrad commented on #90
Pull request submitted: https://github.com/calogica/dbt-expectations/pull/91

[2021-07-11 12:12] #90 closed

[2021-07-13 12:52] sgoley commented on #1
Hey, github explorer & dbt fan here.

I know what Dylan Baker over at [Spectacles ](http://spectacles.dev/) did was for bigquery column / schema tests was to run queries with `limit 0` appended. Basically, the query would succeed but return no data.

I think this could be used for your schema expectation tests without incurring charges?

[2021-07-13 18:35] #59 closed

[2021-07-13 18:35] #60 closed

[2021-07-13 18:35] #78 closed

[2021-07-16 01:52] meurant-naude opened #94 "Compatibility issue with dbt v0.20.0"
Hi there,
I've just upgraded to v0.20.0 to do some evaluation and check for any breaks. I'm getting this error when I run `dbt deps`
[code]
This is my package.yml:
[code]
If I remove your package I don't get the error.
[code]
We use your awesome package extensively. If you could have a look asap, that would be much appreciated.

[2021-07-16 02:40] clausherther commented on #94
Hi, we already have a release out (https://github.com/calogica/dbt-expectations/releases/tag/0.4.0) that supports dbt 0.20 but for some reason it's not yet up on dbt hub. I'll follow up with the dbt labs folks.

Also, you don't need the
[code]
reference since dbt-expectations already imports that package.

[2021-07-16 02:40] #94 closed

[2021-07-16 03:00] meurant-naude commented on #94
Fair call above. It's just that we have developers that are still learning dbt and they might add both, therefore the check.

So to confirm:
[code]
Do you import any other packages?  Pardon the ignore but where can I check that?
Thanks,
M

[2021-07-16 03:06] clausherther commented on #94
Makes sense, the package dependency stuff can get confusing.
Unfortunately,
[code]
means it looks for whatever version on dbt hub, so until they have it at 0.4.0 that will fail if you force the version. You _could_ use the git syntax to get it directly from github, but I don't recommend it unless it's urgent or for testing.

So, dbt-expectations imports dbt-date, which in turns imports dbt-utils.

[2021-07-16 03:09] meurant-naude commented on #94
Thanks for the help.
I'll wait for the guys to update the hub.

[2021-07-16 03:10] clausherther commented on #94
it's up: https://hub.getdbt.com/calogica/dbt_expectations/0.4.0/

[2021-07-16 03:12] meurant-naude commented on #94
Nice. I'll add it after lunch. Thanks again for helping me.

[2021-07-20 16:28] s-vinay opened #95 "Update readme for the test "expect_table_column_count_to_be_between""
Attachment:
![dbt_expectation issues](https://user-images.githubusercontent.com/83854194/126361021-c739dd7b-c940-4a21-bbbc-f714d09655cd.png)

Issue description:
The readme says that the test "expect_table_column_count_to_be_between" is applied to column but it should be Model, Source and Seeds as this is the test for count of columns in the whole object.

[2021-07-20 18:43] clausherther commented on #95
Closed via #96

[2021-07-20 18:43] #95 closed

[2021-07-21 09:01] mirosval opened #97 "Regex expectations broken on Redshift"
Hello, I've upgraded to dbt `0.20.0` and dbt-expectations `0.4`. After that I started seeing the following error:

```Invalid operation: function regexp_matches(character varying, "unknown") does not exist```

My understanding of what happened is that this https://github.com/calogica/dbt-expectations/issues/39 was fixed, which replaced the `regexp_instr` with `regex_matches` on Postgres. However b

[2021-07-21 09:08] mirosval opened #98 "Expect table columns to match set fails on Redshift"
After the upgrade to `0.4` [this](https://github.com/calogica/dbt-expectations/blob/ad9767114ff4159fdaafe00064525ce2b50ef743/macros/schema_tests/table_shape/expect_table_columns_to_match_set.sql) expectation fails with

```Invalid operation: failed to find conversion function from "unknown" to text; ```

I think its because of the quotes around the `number_columns`and `number_matching_columns`, th

[2021-07-21 09:21] mirosval opened #99 "expect_table_columns_to_match_ordered_list is failing on Redshift"
After the upgrade to `0.4` the [expectation](https://github.com/calogica/dbt-expectations/blob/ad9767114ff4159fdaafe00064525ce2b50ef743/macros/schema_tests/table_shape/expect_table_columns_to_match_ordered_list.sql) is failing on Redshift with

[code]

I think this is because redshift cant guess the type of the `ordered_column_names` and `ordered_relation_column_names`. Locally I managed to get it

[2021-07-21 17:00] clausherther commented on #99
Thanks for raising this issue @mirosval ! Interesting, I'll check into this as much as I can, as well as the other issues you've opened. We don't officially support Redshift because we don't have a way to test against a RS cluster. But maybe there are some generic things we can do help with types etc that would also work on Redshift. I'll take a look by end of the week.

[2021-07-22 09:09] s-vinay opened #100 "clarification on the use of expect_table_columns_to_match_set"
Data warehouse: Bigquery

The test "expect_table_columns_to_match_set" is comparing the columns list provided in the "column_list" parameter with the columns in the model. When we have some additional column in the list which does not exist in the model the test is still successful.

This design misguides developers / testers in one particular scenario outlined below.
- developer has missed to add

[2021-07-22 13:22] clausherther commented on #100
Hi @s-vinay, thanks for raising this issue! This makes sense, the current test is pretty rudimentary and just comparing columns counts. Definitely something we could improve! Is this something you're interested in working on?

[2021-07-22 13:46] clausherther commented on #97
Interesting, so I had thought that Redshift would use the `default_` implementation, which [matches](https://github.com/calogica/dbt-expectations/blob/ad9767114ff4159fdaafe00064525ce2b50ef743/macros/regex/regexp_instr.sql#L10) the Redshift function. But you're saying dbt uses the Postgres version in this case? Like `Redshift > Postrges > Default`?

[2021-07-22 15:55] s-vinay commented on #100
Hello @clausherther, Thanks for the quick comment and I am really surprised how quick you respond to the issues along with your other daily routines.

I can give this a try, I am new to open source contribution and also probably just few weeks old using DBT but not new for SQL.
So, this comes with some challenges but am interested to start this and will come back soon.

Thanks,
Vinay

[2021-07-22 21:38] clausherther commented on #100
@s-vinay no worries! If you'd like to contribute, happy to help! But if it's a bit much to start off with, also happy to take this on next week.

[2021-07-22 23:22] seanpwlms commented on #11
Apologies if this is addressed elsewhere, but this looks like the closest issue. For the expect_grouped_row_values_to_have_recent_data test, I have one group that will not have recent data for valid reasons.  Currently the test fails, saying ` Got 1 result, configured to fail if != 0`. It would be great if I could specify fail if result > n.

[2021-07-23 03:14] clausherther commented on #11
Hi @seanpwlms ! I _think_ this might actually be supported in the new dbt test configs:
https://docs.getdbt.com/reference/test-configs
I haven't played around with this, but I think the relevant config is `error_if` https://docs.getdbt.com/reference/resource-configs/severity
Would love to hear if this is works for you and how you ended up using it!

[2021-07-23 11:14] mirosval commented on #97
This is from https://github.com/dbt-labs/dbt/releases/tag/v0.20.0 so I think this is what is happening here and why Redshift doesn't use the default.

[2021-07-23 11:32] mirosval commented on #97
I've simply added this locally to `dbt_expectations/macros/regex/regexp_instr.sql`:

[code]
(its just duplicated and renamed the `default` adapter to `redshift`) and it seems to work. I can make a PR if you like

[2021-07-23 17:27] seanpwlms commented on #11
@clausherther Thank you! Of course the answer is to read the docs. Adding `error_if` converts the severity to a "warn", which you can make pass by adding a `warn_if` setting.

[2021-07-24 13:44] #98 closed

[2021-07-24 13:44] #99 closed

[2021-07-24 13:45] #97 closed

[2021-07-24 15:18] s-vinay commented on #100
@clausherther, I have tried some changes - please review and your comments will be helpful

[2021-07-25 16:51] kdw2126 opened #104 "expect_row_values_to_have_recent_data fails in BigQuery for TIMESTAMP columns"
If you add a expect_row_values_to_have_recent_data argument to a TIMESTAMP column, you will get a failure driven by two characteristics of the existing implementation:
- [This comparison](https://github.com/calogica/dbt-expectations/blob/e47358d5ee5f162457fd4b40aa9ea84d8879ea93/macros/schema_tests/table_shape/expect_row_values_to_have_recent_data.sql#L8) fails because BigQuery does not allow TIMES

[2021-07-26 15:17] clausherther commented on #104
Thanks for this issue @kdw2126 ! This timestamp/date issue has been a problem for a while, I think even `dbt_utils.recency` has this. I'd be happy for any PRs if you have ideas around this, but I'll mull this over next week when I have some spare cycles.

[2021-07-28 14:58] mirosval opened #105 "Package is out of date on dbt hub"
I know this issue does not belong here, but it seems that the `0.4.1` version, while released, has not been updated on the dbt hub which still shows `0.4.0`. I have created an issue there: https://github.com/dbt-labs/hub.getdbt.com/issues/755 but nobody responded. Would you know who to contact about fixing this?

[2021-07-28 17:22] clausherther commented on #105
@mirosval sounds like there's a bug on package hub and they're working on it, see: https://getdbt.slack.com/archives/CU4MRJ7QB/p1627277595103500

[2021-08-01 11:32] s-vinay opened #107 "clarification on the use of expect_column_values_to_be_in_set"
Data warehouse: Bigquery

The test "expect_column_values_to_be_in_set" is validating the list of values in a particular column with the input set provided. When we have an additional value in the parameter (which does not exist in the column), the test is still successful. This is similar to the issue #100.

To explain the scenario,
- let us say we have a payment_method column which has distinct v

[2021-08-01 14:00] clausherther commented on #107
Hi @s-vinay ! I _think_ this is working as designed. Being "in a set" doesn't necessarily mean it's an exact match of the entire set, which is why I implemented this is a left join.  The issue in #100 was that that test was meant to explicitly check that the list of columns match the _entire_ set.
What we may need is to either add a parameter here to force stricter evaluation, or to add something

[2021-08-01 14:47] s-vinay commented on #107
Hello @clausherther , completely agree. Makes sense to have an additional test for exact match of a set.

[2021-08-03 15:47] rfortmann-ewolff commented on #11
I tried using the `severity` and the `warn_if` arguments but dbt encounter an error:

[code]
[code]
and
[code]
[code]

Any idea what the problem could be ?

[2021-08-03 16:13] rfortmann-ewolff commented on #11
I could solve my own problem.
[code]
I hope it might help others.

[2021-08-03 16:15] clausherther commented on #11
@rfortmann-ewolff glad you solved it! I think the `+` syntax in dbt is for project config settings only, but not sure.

[2021-08-09 08:50] mirosval commented on #105
This has now been fixed

[2021-08-09 08:50] #105 closed

[2021-08-16 14:54] #100 closed

[2021-09-15 06:52] lewisarmistead opened #109 "add interval argument to expect_row_values_to_have_data_for_every_n_datepart"
We manage large amounts of power industry-related time series data and need to validate presence of data at a granularity between minutely and hourly, e.g. we expect many of our tables to have data at every 5-minute interval.

I see that the [`expect_row_values_to_have_data_for_every_n_datepart`](https://github.com/calogica/dbt-expectations/blob/main/macros/schema_tests/distributional/expect_row_v

[2021-09-16 23:00] clausherther commented on #109
Hi @lewisarmistead! Thanks for this issue, I'll take a look by this weekend. Would you interested in tackling this in a PR?
One thing that jumps out right away is whether `mod` works across platforms or may need to be wrapped in an adapter macro.

[2021-09-20 19:44] lewisarmistead commented on #109
Hi @clausherther - I'd be happy to throw this into a PR. Thanks for the note on the `mod` operator - I'll see if I can come up with something that'll work across platforms.

[2021-09-28 23:33] clausherther opened #111 "expect_table_columns_to_match_ordered_list row_number error on Snowflake"
Snpwflake does not allow `row_number()` without an `order by` (might be new?)

[code]

`expect_table_columns_to_match_ordered_list` uses `row_number` to sequence columns, we should rewrite this using `loop.index`

[2021-09-28 23:39] #111 closed

[2021-09-30 20:48] barberscott opened #113 "expect_row_values_to_have_data_for_every_n_datepart fails when both a start and end date are passed"
When attempting to set up the `expect_row_values_to_have_data_for_every_n_datepart` test, if you pass in values for both `test_start_date` and `test_end_date` the test will fail with a compile error:

[code]
This is due to the logic here:  https://github.com/calogica/dbt-expectations/blob/main/macros/schema_tests/distributional/expect_row_values_to_have_data_for_every_n_datepart.sql#L11-L28 -- the

[2021-09-30 21:28] clausherther commented on #113
Thanks for this @barberscott! I remember having some `None` issues at the time depending on where these values are set, so any fix here would need to be well tested. Would you be interested in submitting a PR for this one? No pressure if you can't, just want to double check. Otherwise I might have some time this weekend or next week for this.

[2021-10-05 10:53] Charles1104 opened #114 "Not compatible with new version of dbt 0.21.0"
I got an error when trying upgrading to new dbt version 0.21.0 with this package. It still doesn't support dbt 0.21.0.

[2021-10-05 13:29] clausherther commented on #114
hi @Charles1104, 0.21 was just released, we'll be bumping up dbt-expectations this week (as soon as dbt-date is up-to-date on dbt package hub). Thanks for your patience.

[2021-10-05 14:25] Charles1104 commented on #114
Sure, no problem. Just wanted to give heads-up on compatibility issues. No rush ;)

[2021-10-06 15:31] #114 closed

[2021-10-08 16:07] clausherther commented on #113
Closed via #115

[2021-10-08 16:07] #113 closed

[2021-10-15 15:55] UselessAlias opened #117 "Hardcode value in expect_column_to_exist.sql prevent functionality"
In this test there is an available parameter, transform, however the test value is hardcoded to have the upper filter applied on line 4. As the default value for the transform parameter is also upper the default state of the function works fine. However, if any other filters are passed through the transform parameter then the test will most likely fail. For example any test which passes the transf

[2021-10-15 17:30] clausherther commented on #117
Good [find](https://github.com/calogica/dbt-expectations/blob/main/macros/schema_tests/table_shape/expect_column_to_exist.sql#L4)!

Did you want to submit a PR for this? I can do this, but didn't want to get ahead of you if you wanted to do that. Either way, thanks for flagging!

[2021-10-15 19:34] #117 closed

[2021-10-28 07:14] epapineau opened #120 "Update docs with expect_table_columns_to_contain_set example"
There is no example in the readme for the expect_table_columns_to_contain_set test and [the hyperlink](https://github.com/calogica/dbt-expectations#expect_table_columns_to_contain_set) is broken.

[2021-11-01 23:09] epapineau commented on #120
Absolutely~ Just submitted one @clausherther

[2021-11-02 00:25] clausherther commented on #120
Closed via #121 👏

[2021-11-02 00:25] #120 closed

[2021-11-02 21:55] mirosval opened #122 "Regression in expect_table_columns_to_match_ordered_list"
Hello, this appears to have regressed in dbt `0.21.0` and dbt_expectations `0.4.4`. It looks like it happened here: https://github.com/calogica/dbt-expectations/commit/c698a1a1108435c18cc7680885795aeb47b8fe74#diff-14b201719d47d2b58e18a4896f8cb1d1f0bc3b414694499ef5eb738b683fb955L11-L12

It was fixed in #99

[2021-11-03 01:41] clausherther commented on #122
Hi @mirosval ! Could you describe what error you're seeing and what platform you're on? The PR you reference that fixed  #99 (which was PR [#101](https://github.com/calogica/dbt-expectations/pull/101/files)) used the old way of deriving the missing columns. We changed this to a join based approach that doesn't rely on this type casting to `varchar` anymore.

[2021-11-03 07:22] mirosval commented on #122
Thanks for looking into this!

The error is the same, `failed to find conversion function from "unknown" to text`

The rendered SQL is:
[code]

When I run this SQL in Redshift it fails with the above error, when I add `::text` to the places pointed out in the snippet, it works.

As far as I can tell, this code corresponds to what is currently on master.

[2021-11-03 13:33] clausherther commented on #122
Got it, thanks! I'll try and get to this in the next couple of days, unless you want to beat me to it with a PR ;)

[2021-11-04 12:48] #122 closed

[2021-11-08 02:50] makotonium commented on #76
I would love to see these documented and perhaps I could help. If you didn't know to click on each test name link to see its implementation, you wouldn't know that you can use `row_condition`, `group_by_columns` or others on some of the tests that exists. Is just the matter of updating the main README.md file?

By the way, thanks for creating this package! It's been really useful!

[2021-11-08 03:21] makotonium commented on #1
@clausherther I am curious to see how this is coming, and I may be able to offer help on getting something set up. How are you currently testing locally? Maybe we could replicate that as a start on GitHub Actions.

[2021-11-10 16:27] clausherther commented on #109
Closed via #110

[2021-11-10 16:27] #109 closed

[2021-11-10 16:33] clausherther commented on #76
Hi @makotonium ! Thanks for your note, I'd love your help on that. Documentation updates are really one of the best contributions to a project like this.
Yes, for now all documentation is in the README.md file, so it would "just" be a matter of updating that. Would you be up for that?

[2021-11-10 16:36] clausherther commented on #1
Hi @makotonium ! I haven't made ~much~ any progress here, since it hasn't been a blocker for development (yet). So far, I'm testing against my own BigQuery and Snowflake instances (in addition to a local postgres instance) which hasn't incurred any costs yet. I think your other note on documentation updates is probably much more impactful to the broader package user community, so if you had to cho

[2021-11-12 05:06] makotonium commented on #76
@clausherther Yup. I'll get a draft PR going and ping you once I have some content changes. Thanks for the clarification.

[2021-11-16 10:24] samantha-guerriero-cko opened #125 "Error in macros/schema_tests/string_matching/*"
All the methods in macros/schema_tests/string_matching/ define a group_by_columns=group_by functionality, but group_by is not defined in the method which makes them fail with **_'MacroGenerator' object is not iterable_**.

Fix should be to set up group_by=None in methods' definition as per the other macros with this functionality.

e.g.,
[ {% test expect_column_value_lengths_to_equal(model, column

[2021-11-16 13:39] clausherther commented on #125
Hi @samantha-guerriero-cko , thanks for raising that issue! You're right, I see the missing params. What's weird is that this passes our integration tests without an error. For example, this test gets called [here](https://github.com/calogica/dbt-expectations/blob/5510fc68638d043faaba691bee5f630964761cd6/integration_tests/models/schema_tests/schema.yml#L281).
Could you share some more information

[2021-11-16 13:47] clausherther commented on #125
Btw, I think the correct treatment here is probably to not support `group_by` for this particular test, since the expression is not an aggregation so it would fail on the group by anyway.

So, I'd set the `group_by_columns` param to `None` in the call to `expression_is_true`:

[code]

[2021-11-16 13:52] samantha-guerriero-cko commented on #125
It makes sense to make the group_by_columns=None :)

For what concerns my environment:
- dbt = 0.21.0 (have tried also with 0.20.0)
- Python = 3.9.6
- Platform = macOS Big Sur 11.6

I am happy to open a PR for this 💪

[2021-11-16 13:53] clausherther commented on #125
@samantha-guerriero-cko amazing, thank you!

[2021-11-16 14:23] #125 closed

[2021-12-06 02:02] Gregory108 opened #129 "Redundant set definition + Feature request in `expect_multiculumn_sum_to_equal`"
https://github.com/calogica/dbt-expectations/blob/d7f98601811db2532510a70103f66f9784bc979c/macros/schema_tests/multi-column/expect_multicolumn_sum_to_equal.sql#L9

Why would we need this set that is not used?

Also, is it possible to implement this test:
- to be equal to another variable
- or have coefficients near variables
- and have an option to `COALESCE` variables if not all of them are `NULL

[2021-12-06 17:28] nicholasyager opened #130 "Expect column values types to be in type list fails in redshift"
Currently in `0.5.0` (we made the leap to upgrade from 0.2.4) we are experiencing an issue when using the `expect_column_values_to_be_in_type_list` macro on Redshift which yields the following issue:

[code]

This appears to be coming from the generation of the `relation_column and `relation_column_type` columns. https://github.com/calogica/dbt-expectations/blob/d7f98601811db2532510a70103f66f9784b

[2021-12-08 23:12] #130 closed

[2021-12-08 23:16] clausherther commented on #129
hi @Gregory108, thanks for bringing this up, that `operator` is a copy & paste issue, easy fix.

If you'd like to add new tests to the repo, feel free to submit a PR (or a more specific issue if you'd like more feedback first)! 👍

[2021-12-09 03:47] #107 closed

[2021-12-09 03:49] clausherther commented on #76
Closed via #124

[2021-12-09 03:49] #76 closed

[2022-01-02 23:10] kdw2126 opened #133 "Inaccurate Documentation for expect_column_distinct_values_to_[be_in/contain/equal]_set"
The documentation in the README.md file list "group_by" as a possible argument for these three tests:

- expect_column_distinct_values_to_be_in_set
- expect_column_distinct_values_to_contain_set
- expect_column_distinct_values_to_equal_set

However, I just got an error when I tried adding a group_by to one of these tests, and examining the source code reveals that none of these three tests accept

[2022-01-03 01:09] clausherther commented on #133
Hey @kdw2126 ! Thanks for raising this issue. Looks like that's just a bug in the docs, the actual test doesn't have these params at all.
For example: https://github.com/calogica/dbt-expectations/blob/75bb33560788159af10bd5d35dc5b027f224b9ba/macros/schema_tests/aggregate_functions/expect_column_distinct_values_to_be_in_set.sql#L1

If you have the time, a PR to the README would be great, but I can

[2022-01-03 01:10] clausherther commented on #133
Btw, I don't think a `group by` would even make sense here, I can't think of a use case where that would work. If you can think of one though, happy to discuss!

[2022-01-03 01:21] #133 closed

[2022-01-03 01:23] kdw2126 commented on #133
@clausherther Thanks for the quick response and happy New Year!  And yes, what I was trying to do was nonsensical but now the documentation won't lead anyone else down the same trap!

[2022-01-03 01:25] #129 closed

[2022-01-06 04:56] samsheertc commented on #10
I am having same issue

packages:
  - git: "https://gitlab.com/hcl55/dbt_music_data.git"
    revision: master

Here is the error

Got a non-zero returncode running: ['/usr/bin/git', 'clone', '--depth', '1', 'https://gitlab.com/hcl55/dbt_music_data.git', 'e9372429751ad90a6b7f28a298d50ac4'] Code: 10001

[2022-01-06 05:03] clausherther commented on #10
@samsheertc that's not this package, you're going to have to open an issue where the `dbt_music_data` repo is.

[2022-01-14 16:50] clausherther opened #139 "Add a contribution & style guide"

[2022-01-19 16:42] gofford opened #140 "Add excluded dates for `expect_row_values_to_have_data_for_every_n_datepart`"
`expect_row_values_to_have_data_for_every_n_datepart` is tremendously useful for validating whether every day has data.

However, in some situations, there may be days where there is a data gap and I'm completely OK with it. For example:

* There was an infrastructure failure on a given date so there is a known data gap
* The data is for a brick and mortar retailer that doesn't open on Christmas d

[2022-01-19 17:18] clausherther commented on #140
Hi @gofford! Thanks for raising this issue, those use cases makes sense to me! Would you be interested in taking a stab at a PR? Happy to help!
I could see passing in a list of exception dates? A more complex but more robust solution would be to pass in a table of exception dates as model ref, but I think the list approach might cover a lot of ground to start. What do you think?

[2022-01-19 18:55] gofford commented on #140
Sounds good @clausherther. I can definitely see the utility of an external `ref` table for exclusions, particularly in the case where there are a large number of dates to be excluded. In the interim I think a good starting point would be to emulate the `row_condition` logic to allow for flexible exclusion.

Locally, I have amended the macro to allow for tests of the form:

[code]

`exclusion_condi

[2022-01-19 23:16] clausherther commented on #140
@gofford I like the approach! Makes sense to allow users to configure this for their use case and platform. In theory, I think this could cover my example of an exclusion table, e.g.
[code]
or even
[code]
(this last one may need some refinement and testing)

[2022-01-22 01:24] timothyjang123 opened #142 "Undesirable behavior w/ --store-failures"
There may be some configuration that takes care of this already, but I haven't been able to find a way to modify the way dbt expectations outputs failures to match the way failures get outputted for generic/default dbt tests.

Eg. In snowflake, the outputted table is named as below and doesn't tell us much as to what it's storing:
dbt_expectations_source_expect_1a455e48615c27030f935e6977283170

Wh

[2022-01-22 17:14] clausherther commented on #142
Hi @timothyjang123, thanks for raising this issue! I have not worked with store-failures yet, so I have no experience with how dbt-expectations behaves there. I'll try to find some time to look into it, but if you have any insights or suggestions, I'd love to hear (or accept a PR!).

[2022-01-25 16:50] vieiraAlexandre opened #143 "Feature/request - adding support to nested field records (Bigquery)"

[2022-01-26 15:41] clausherther commented on #143
Hi @vieiraAlexandre, thanks for bringing this up! I've not thought about this much, but it would seem this would require adding an unnested path to the Bigquery dispatch of each of the macros? Do you have an example of how that would look compiled for one of the tests you're interested in?

[2022-01-31 17:09] vieiraAlexandre commented on #143
Hi @clausherther - I reckon there could be a validation step in the macro(s) to check whether the input column comes from a standard/raw or from a nested record type - possibly by checking INFORMATION_SCHEMA provided by BigQuery/GCP first?

From this point then there would be a query for the standard case (as it exists now) and for the nested record type by adding in the BigQuery's UNNEST command

[2022-02-01 17:49] vieiraAlexandre opened #144 "Table level expectations erroring out with Python code message"
Hi,

The following DBT expectations for table level data checks seemed to have stopped working without a clear cause yet:
- expect_table_columns_to_match_ordered_list
- expect_table_column_count_to_be_between
- expect_table_columns_to_contain_set
- expect_table_column_count_to_equal
- expect_table_columns_to_match_set

When running the dbt test command it outputs a message seemingly from a Python

[2022-02-01 18:09] clausherther commented on #144
Hi @vieiraAlexandre ! Thanks for flagging this. However, I can't reproduce this with Python 3.9.9 and dbt 1.0.1.

Here's an abbreviated output from out integration tests on BigQuery:

[code]

[2022-02-02 13:19] vieiraAlexandre commented on #144
Hi @clausherther thanks for the feedback!

After upgrading the Python to version 3.9 the issue is indeed sorted out! I do wonder if it's anything specific to 3.8 Python version? Or at least would we have any idea why might it have happened?

Thanks!

[2022-02-02 14:58] clausherther commented on #144
@vieiraAlexandre good to hear it got resolved. I have a feeling the version of Python is a red herring here, and the install of a new copy of Python did the trick.

[2022-02-02 14:58] #144 closed

[2022-02-24 20:33] clausherther commented on #104
Closed via #145

[2022-02-25 10:08] nirakon commented on #104
It didn't fix the issue.

`No matching signature for operator < for argument types: TIMESTAMP, DATETIME. Supported signature: ANY < ANY`

[2022-02-25 14:39] clausherther commented on #104
@nirakon 😩 it passed tests on BQ, but I'll reopen this and look into it. I think this more of an issue with dbt_date.now() returning a datetime.

[2022-03-01 18:53] bascheibler commented on #104
I think it's the `dbt_utils.dateadd` macro that is returning a datetime. It calls the `datetime_add` function from BigQuery, which returns a datetime data type.

So the inner CTE ("max_recency") casts it as timestamp, but the outer CTE ("dbt_internal_test") casts it as datetime.

I'm using the version 0.5.2 with a date and had a different issue: if the column in my dbt model is a DATE, it returns

[2022-03-01 20:01] clausherther commented on #104
@bascheibler curious, does the `dbt_utils.recency` test work for you? This is really just a version of that, with some more options. So, if `dbt_utils.recency` works as a work around, I'd recommend that for now.
Dealing with date types, particularly datetime related ones is always really tricky across platforms.

[2022-03-01 22:27] bascheibler commented on #104
It works! Thank you for the hint, @clausherther.
Unfortunately, `dbt_utils.recency` is a schema test. So the documentation doesn't list this test under the column description. It just shows that the model depends on this test. But it's a good workaround for the moment and I can keep using the latest version of dbt_expectations. I'll keep watching this issue just in case the fix also works for date

[2022-03-02 02:52] clausherther commented on #104
@bascheibler good to hear! One gotcha with `recency` (and motivation behind `expect_row_values_to_have_recent_data`) is that if you have events in the future (e.g. bad dates from devices etc) in your test data, `recency` will pass even though you might have stale data prior to today.

[2022-03-09 15:03] clausherther commented on #104
@adee tagging you here in the issue instead of the closed PR. Can you describe your error a bit more including the error message and the data type of `column` in your case? This has been a pretty elusive bug and very much depends on the data type of the column you're testing on.
The issue, I think, is that the tests checks to make sure we're only testing past data, in the event that your data cont

[2022-03-09 15:06] clausherther commented on #104
One option is to make the test more configurable to either let users specify a data type (date or timestamp etc) and/or whether or not to check for future dates at all.

[2022-03-09 15:11] AdeelK93 commented on #104
Sure, my source data has a date column named date, which worked fine in the old version of the test. In the new version, I must cast the date as a timestamp to get the upper part of the query to work, but then as soon as I do that, the lower part of the query fails as a timestamp is being compared to a datetime.

<img width="1421" alt="image" src="https://user-images.githubusercontent.com/16856016

[2022-03-09 15:15] clausherther commented on #104
@AdeelK93 Blerg. That is super helpful, thanks! Will try to get to the bottom of it this week. Sorry about the hiccup.

[2022-03-10 15:05] rcaddell opened #148 "feature/request - add a test to show if specific column(s) have been added to an object"
Specific use case is Servicenow data loaded to Snowflake via Fivetran. Fivetran will not add a _fivetran_deleted column to the Servicenow object unless and until at least 1 record from the source object was deleted.

[2022-03-11 18:28] tevariou opened #150 "expect_column_value_lengths_to_be_between doesn't work with a column name as a reserved keyword"
`expect_column_value_lengths_to_be_between` doesn't quote the column name. If the column name is a reserved keyword (such as `offset`, `start`, etc... with pg), the test fails.

[2022-03-11 23:03] clausherther commented on #150
Thanks for raising this issue @tevariou! Should be a fairly easy fix. We quote in some cases, but not consistently everywhere.
Are you interested in submitting a PR for this? Happy to help!

[2022-03-14 02:52] tevariou commented on #150
I've opened a PR #152

[2022-03-16 23:59] #104 closed

[2022-03-17 00:00] #148 closed

[2022-03-17 15:48] armandduijn opened #155 "Row condition is applied to both models"
Is there a reason why the `row_condition` is applied to both models? We're trying to use the `expect_column_distinct_count_to_equal_other_table` test with a row condition on one of the tables. But, in the current implementation, it applies the row condition to both models.

I think that if no `compare_row_condition` is provided, it shouldn't default to `row_condition`.

https://github.com/calogica

[2022-04-02 23:42] #1 closed

[2022-04-04 00:30] #150 closed

[2022-04-04 00:30] #155 closed

[2022-04-04 08:24] rarup1 commented on #142
Agree with @timothyjang123 - ideally one would be able to store the outputs of the exceptions in the warehouse to then present the stakeholders with a list of IDs that are violating the validation rules from within metabase.

[2022-04-06 10:30] StuartMiddleton opened #165 "Issues installing on Windows 11"
This may or many not be related to this install being on Windows 11, but it is a distinguisher from my PC vs that of others that successfully install.

Tested on 0.5.5 and 0.4.7 with similar results.

Stepped through installation successfully until the "integration tests (developers only)" section.  Starting "from within `integration_tests` folder" I start to experience issues. My experience is as

[2022-04-06 13:32] clausherther commented on #165
Hi @StuartMiddleton! I don't know anything about Windows or if this is related, but unless you're looking to make changes to the dbt-expectations package and run integration tests before submitting a PR, you do not need to do anything with `integration_tests` and you can ignore that section.
To use `dbt-expectations`, you only need to include the reference in _your project's_ `packages.yml` like s

[2022-04-06 13:41] clausherther commented on #165
Also, make sure you add the `dbt_date:time_zone` variable to your `dbt_project.yml` so that `dbt-date` (which is automatically included) has a default timezone to use, see
https://github.com/calogica/dbt-expectations#variables

[2022-04-13 01:16] clausherther commented on #142
Looks like `dbt 1.1.0-rc1` might help here.

You're going to be able to override the generated test name with your own (unique) instance name, e.g.
[code]
which will then generate a test like this:
[code]

Have not yet tested how this gets stored, but this is a good sign!

[2022-04-14 17:58] jordanjbanal opened #166 "Add a way to integrate dimension to: expect_column_values_to_be_within_n_moving_stdevs"
Hi ! I am trying to monitor KPI metrics values **per game** with `expect_column_values_to_be_within_n_moving_stdevs`.
However, I am only able to monitor the variations for the entire columns containing data for all the games.
Adding the ability of partitioning the values per game with a `PARTITION_BY `clause would be very helpful.

[2022-04-15 14:23] clausherther commented on #166
Hi @jordanjbanal! Thanks for opening this issue. This seems like a reasonable enhancement. Would you be interested in contributing a PR for this? It's probably something I can get to in the next couple of weeks, but if you wanted to give it a shot in the meantime, happy to help!

[2022-04-18 16:45] dougscc opened #167 "Documentation for expect_column_values_to_be_between is incorrect"
# Error
`macro 'dbt_macro__test_expect_column_values_to_be_between' takes no keyword argument 'minimum'`

# Docs say

[expect_column_values_to_be_between](https://github.com/calogica/dbt-expectations/tree/0.5.5/macros/schema_tests/column_values_basic/expect_column_values_to_be_between.sql)
Expect each column value to be between two values.

tests:
  - dbt_expectations.expect_column_values_to_be_be

[2022-04-19 00:45] clausherther commented on #167
Hi @dougscc! Not sure where you saw that in the docs, but here's a screenshot of our current docs where the correct parameters are shown:
<img width="885" alt="image" src="https://user-images.githubusercontent.com/7342749/163898425-4e226117-8644-4a6e-81f6-059d036da044.png">

Please feel free to reopen if you see something else wrong with this test's docs.

[2022-04-19 00:45] #167 closed

[2022-04-19 18:43] prachishah48 opened #170 "ignore_row_if not adding to test query in expect_compound_columns_to_be_unique"
https://github.com/calogica/dbt-expectations/blob/6bd8b64d0978e59fc36dd36972beb37ce18d780a/macros/schema_tests/multi-column/expect_compound_columns_to_be_unique.sql#L21

We noticed that when we set the `ignore_row_if` argument to any of the options (`any_value_is_missing` or `all_value_is_missing` or `never`). It does not add a where statement to the `validation_errors` CTE.

We are not seeing the

[2022-04-19 19:10] clausherther commented on #170
Ah good catch @prachishah48 ! I think it's b/c `row_condition_ext` is set but never used 😭 .
Should be able to fix that by tomorrow and cut a new patch release soon after. Is that bug blocking you from something?

[2022-04-19 19:19] prachishah48 commented on #170
Hi @clausherther,
Thank you for getting back to me :D and Nope, it is not blocking me from something but do let me know when it gets produced so I can see how the tests look

[2022-04-19 19:33] clausherther commented on #170
I have PR out (#171 ), and the generated SQL in the test suite now looks like this for `all_values_are_missing` case
[code]

and like this for the `any_value_is_missing` case

[code]

And like this is an additional `row_condition: 2=2` is specified:
[code]

[2022-04-19 19:35] prachishah48 commented on #170
Oh great! Thank you!!

[2022-04-19 19:41] #170 closed

[2022-04-19 19:45] clausherther opened #172 "CircleCI should skip db tests if only .md files are updated"
There should be no need to run the the full database test suite in CircleCI if only `.md` files are updated in a PR or merge.
(Possibly also include other files like image files etc.)

[2022-04-19 19:50] clausherther commented on #3
Closing as we are currently testing on BQ, SF and Postgres and are not supporting Redshift.

[2022-04-19 19:50] #3 closed

[2022-04-24 13:39] #165 closed

[2022-04-24 13:40] clausherther commented on #140
Closed via #141

[2022-04-24 13:40] #140 closed

[2022-04-24 13:42] clausherther opened #173 "Add example for dynamic date params in expect_row_values_to_have_data_for_every_n_datepart"
Add example of how to set params in `expect_row_values_to_have_data_for_every_n_datepart` via `modules.datetime`

[code]

[2022-04-24 14:02] #173 closed

[2022-05-03 18:09] belasobral93 opened #175 "Update documentation to reflect correct argument names"
Example:
Docs show

tests:
  -- dbt_expectations.expect_table_column_count_to_be_between:
      **minimum**: 1
      **maximum**: 4

Which results in a compiler error. Macro shows arguments are actually **min-value** and **max-value**

[2022-05-03 18:55] clausherther commented on #175
Hi @belasobral93 ! Thanks for this issue. Where are you seeing these docs?
The current docs show the correct parameters: https://github.com/calogica/dbt-expectations#expect_table_column_count_to_be_between

[2022-05-03 19:23] belasobral93 commented on #175
Hi @clausherther this is in [dbt's package hub](https://hub.getdbt.com/calogica/dbt_expectations/latest/) - i will close this issue and open one with dbt

[2022-05-03 19:23] #175 closed

[2022-05-03 19:25] clausherther commented on #175
Hi @belasobral93 it's also correct on package hub, since they just pull the README from this repo:
<img width="975" alt="image" src="https://user-images.githubusercontent.com/7342749/166545479-f359a32b-a7c1-4beb-ad3e-44bd29eb682d.png">

You want to make sure you're looking at the latest package hub version:
https://hub.getdbt.com/calogica/dbt_expectations/latest/
(note the `latest` in the URL)

[2022-05-19 15:36] judahrand commented on #83
I think #176 should make many of the tests which try to access the information schema for column names + types compatible with ephemeral models.

[2022-06-03 18:27] pan-kadams commented on #104
hi all, I am getting the same error when trying to run `dbt_expectations.expect_grouped_row_values_to_have_recent_data` (but notably not on `dbt_expectations.test_expect_row_values_to_have_recent_data`).

The specific error I am getting is:
`No matching signature for operator < for argument types: TIMESTAMP, DATETIME. Supported signature: ANY < ANY at [38:9]`

I am currently using dbt_expectations

[2022-06-03 22:43] clausherther commented on #104
@pan-kadams thanks for pointing this out! Would you mind opening a new issue for `expect_grouped_row_values_to_have_recent_data` along with your test config if possible?

[2022-06-13 17:06] karanhegde opened #177 "Syntax error with take_diff=False in expect_column_values_to_be_within_n_moving_stdevs test"
Hi, when the `expect_column_values_to_be_within_n_moving_stdevs` test is used with the parameter `take_diff=False`, it errors out with a couple of SQL syntax issues, [a trailing comma](https://github.com/calogica/dbt-expectations/blob/main/macros/schema_tests/distributional/expect_column_values_to_be_within_n_moving_stdevs.sql#L69) (_atleast with BigQuery_) and a [missing alias](https://github.com

[2022-06-13 17:20] clausherther commented on #177
Oy! Who wrote this nonsense!? Wait, that was me!

Thanks for finding this, and yes a PR would be great if you have the time. If not, I can find time this week to fix this.

[2022-06-14 22:18] #177 closed

[2022-06-14 22:31] clausherther opened #180 "Error in timestamp comparison in expect_grouped_row_values_to_have_recent_data"
@pan-kadams reports the following error on BigQuery when using `expect_grouped_row_values_to_have_recent_data`

[code]

See: https://github.com/calogica/dbt-expectations/issues/104#issuecomment-1146246737

[2022-06-14 22:35] clausherther commented on #180
This issue here is that if the column passed in is not a `timestamp` datatype, BigQuery won't implicitly convert this during the `<` comparison.  So, the fix is likely to explicitly cast both sides of the evaluation to a `timestamp`.

[2022-06-16 05:09] #180 closed

[2022-08-10 12:10] greghor opened #183 "expect_select_column_values_to_be_unique_within_record not consistent with dbt built-in test unique"
hi,

I noticed that the dbt-expectations test `expect_select_column_values_to_be_unique_within_record` passes on some of my table while the built-in dbt test `unique` fails.

![image](https://user-images.githubusercontent.com/16280126/183875951-e8282be3-fbec-40ee-8de1-c5c0a2246d3b.png)

After checking the value, the column id_version does have duplicates, which makes me think that `expect_select_c

[2022-08-10 14:18] clausherther commented on #183
Hi @greghor - I think you want to use `expect_column_values_to_be_unique` (https://github.com/calogica/dbt-expectations#expect_column_values_to_be_unique) instead.
The test `expect_select_column_values_to_be_unique_within_record` is a bit more specialized, it tests that within a row, the values across two or more columns are unique. So, in your case this will always be true since you're only testi

[2022-08-10 14:18] #183 closed

[2022-08-10 14:48] artemboiko1 opened #185 "--store-failures with query context"
Hi!

I have question / suggestion regarding behaviour of `--store-failures` when used together with [dbt-expectations](https://github.com/calogica/dbt-expectations).

We are looking to use [dbt-expectations](https://github.com/calogica/dbt-expectations), but we are lacking some traceability features.

Let's look at this meaningless column level assertion / test (from https://github.com/dbt-labs/ja

[2022-08-10 14:49] greghor commented on #183
Oh I see - my mistake then. Thanks for making this clear!

[2022-08-10 15:52] artemboiko1 commented on #185
query context can also be array of strings, raw SQL can be riskier here.

[2022-08-12 14:59] clausherther commented on #185
Hi @artemboiko1, thanks for opening this issue! That's a very interesting proposal that I have to think about more deeply. My initial thoughts are that this a) would have to be extensively tested since it adds potentially new grouping levels to tests that rely on group_by parameters and b) as you point out, could lead to all kinds of unintended second level effects from folks adding random query c

[2022-08-12 15:48] artemboiko1 commented on #185
@clausherther

thanks a lot for the response!

actually, dbt native assertions do store more data when used with `--store-failures`, but dbt-expectations does not. I'm not sure what can be done at dbt level, because those queries are complied at package/macros level. And we don't want to do query multiple times.

[2022-08-12 16:14] artemboiko1 commented on #185
@clausherther

dbt-core schema assertions already select `*` as the context for the failure, example:
[code]

[2022-08-15 23:10] ttusing opened #187 "DBT hub instructs/links to version 0.1.2"
DBT hub instructs people to install version 0.1.2 and links to the readme for 0.1.2. Users landing on dbt-expectations via Google and click on the Github link will see the outdated readme.

https://hub.getdbt.com/calogica/dbt_expectations/0.1.2/

This bit me as I did not realize I was looking at an old readme and the arguments for macros had changed, spent ~45 min debugging and scratching my head.

[2022-08-15 23:32] ttusing commented on #187
Looking closer, this might be Google's fault. it looks like it is returning the page for `0.1.2` on dbt hub when I google `dbt_expectations`. Guessing it is happening for a lot of other people too?

Maybe oldest versions could be retired and forward to the current version on DBT hub to get pagerank to fix?

[2022-08-15 23:36] clausherther commented on #187
Hi @ttusing , thanks for raising this issue! I think this is indeed a Google issue. Let me see what we can do there. The hub page does link to the latest version.

[2022-08-15 23:41] clausherther commented on #187
Looks like there's an open [issue](https://github.com/dbt-labs/hub.getdbt.com/issues/1754) in dbt-labs

[2022-08-15 23:41] #187 closed

[2022-08-16 21:04] artemboiko1 commented on #185
@clausherther

please let me know if there is anything from our side that I can do to let this happen. I would be happy to address your concerns.

[2022-08-17 01:22] clausherther commented on #185
Hi @artemboiko1 - sorry, haven't had a ton of time to look into this. However, one thought I had was that rather than adding a `query_context` parameter to every test, I'd probably prefer we follow something similar to the dbt-core model and simply
1) emit all columns from the model (`select *`) for non-grouped tests, or
2) emit all grouped columns from model when the test is on aggregated data

T

[2022-08-17 14:18] clausherther commented on #185
That order of pull requests works for me. Although 3. should also be followed by a check of the integration_tests, right?
In any case, I would want to release all of these as version `0.60` since it's a potentially breaking change.

[2022-08-17 14:28] artemboiko1 commented on #185
yes, my bad, thanks! I will rework my MR to reflect discussed changes.

[2022-08-17 15:13] clausherther commented on #185
Awesome, looking forward to this! 👍

[2022-08-18 11:19] ismailsimsek commented on #142
best setup it to store all the test results in single table. and compact data in to a json field. to get uniform result set.

[2022-08-25 16:24] James-DBA-Anderson commented on #185
Wow I have just spent the last two days trying to figure out how to do just this!

I ended up overriding the dbt_expectations tests with slightly modified versions that accepted a contextual_column_list param. I then added a loop in the set expression to write this columns out with a max aggregation.

[code]

This allows me trace much more about test runs.

I'd like to get the start time, end time

[2022-08-26 12:44] clausherther opened #188 "Migrate dbt-utils macros to dbt-core"
In [0.9.0](https://github.com/dbt-labs/dbt-utils/releases/tag/0.9.0) many dbt-utils macros moved to dbt-core 1.2+.

[2022-08-29 14:08] #188 closed

[2022-08-31 13:18] adamcunnington-mlg opened #190 "Tests that expect regex patterns are painful to use in BigQuery"
Functions such as [expect_column_values_to_match_regex](https://github.com/calogica/dbt-expectations/blob/main/macros/schema_tests/string_matching/expect_column_values_to_match_regex.sql) are painful to use in BigQuery because of the intersection of YAML escape sequences, BigQuery escape sequences and implementation of the tests, by dbt-expectations (I'm not sure actually if dbt-core has some resp

[2022-08-31 13:29] clausherther commented on #190
Thanks @adamcunnington-mlg for raising this issue! I don't have a ton experience using regex on BigQuery, but this is good to know. One thing to always keep in mind is that all we're doing in dbt is generate SQL strings, which sometimes results in these weird quoting and escape scenarios.
In your example, what should the fully rendered SQL look like?
Re: your suggestion, happy to make/merge change

[2022-08-31 13:40] adamcunnington-mlg commented on #190
Thanks @clausherther.

Here is what I expected:

my dbt YAML
[code]

compiled SQL
[code]

Instead, the `r` is not present in final SQL and so I had to use this horrible escape sequence:
YAML:
[code]

which leads to compiled SQL:
[code]

[2022-08-31 14:12] clausherther commented on #190
Cool, thanks for example. So, what the the `r` do, if we were to pre-pend that? Is that maybe something that should be optional as a parameter?

Btw, how do you get from `d{4}` to `w{3}` in your examples?

[2022-08-31 15:09] adamcunnington-mlg commented on #190
@clausherther With a magical typo! Sorry - corrected.

r is common in many syntaxes/languages to mean "raw string" - e.g. do not recognise escape sequences in following string.

See [Raw string in the table of this page](https://cloud.google.com/bigquery/docs/reference/standard-sql/lexical#literals)

[2022-09-03 18:55] clausherther commented on #190
@adamcunnington-mlg would you have an example of data that would match `regexp_instr(title, r'^\d{4}-\d{2}$', 1, 1)`?My regex fu is non-existent, and I'll need to add a integration test for this. Thanks!

[2022-09-03 18:57] clausherther commented on #190
I guess something like a 5+3 US zip code would match `regexp_instr(title, r'^\d{5}-\d{3}$', 1, 1)`?

[2022-09-03 20:29] clausherther commented on #190
Btw, doesn't look like either Postgres or Snowflake support `r` as a raw string indicator. Will have to do more research here before we can implement something like that.

[2022-09-05 07:08] adamcunnington-mlg commented on #190
@clausherther sure!
`\d{4}-\d{2}` is a typical `YYYY-MM` date, e.g. `2022-09`.

Your guess post code example works too.

`$` is a special character in regex that means "end of string" - not sure what implications are there for snowflake.

[2022-09-07 00:49] alison985 opened #192 "lack of database dialect difference support in test_expect_column_values_to_be_in_type_list"
Hi, this is esoteric, but I ran scheduling software for 2 years and time zones will forever be my nemesis.

From what I can tell, the `dbt_expectations.expect_column_values_to_be_in_type_list` test will cause loud and/or silent errors/warns in some circumstances. This issue write-up is limited to talking about timestamps. Yes, I admit I'm discussing a rarer use case.

The [dbt_expectations.test_ex

[2022-09-07 13:52] clausherther opened #194 "expect_column_values_to_be_within_n_stdevs: group_by should be a list"

[2022-09-14 13:17] adamcunnington-mlg commented on #190
@clausherther what are your thoughts on this? cheers

[2022-09-14 13:44] clausherther commented on #190
@adamcunnington-mlg I had a PR [here](https://github.com/calogica/dbt-expectations/pull/191), but I'm not sure how generalizable this and if it would break a lot of folks code. The edge cases are tricky to test b/c it depends so much on user input.
I'm leaning towards maybe making raw strings optional, i.e. if you pass in a raw string, you'll need to specify it as such via something like `is_raw_s

[2022-09-14 13:52] adamcunnington-mlg commented on #190
@clausherther I think that would be absolutely fine - could always be evolved later

[2022-09-14 14:33] #166 closed

[2022-09-18 16:21] #190 closed

[2022-09-18 16:30] clausherther commented on #192
Hi @alison985! Sorry, late response! This is indeed a giant pain, as is really anything date/time related :/
How often do you need to run the same dbt-expectations code against different platforms? I ask b/c I've only run into this running our own integration tests against BQ, SF and postgres, and sort of accepted this pain for now.
I think for the most part we've relied on `dbt_utils.datatypes()`

[2022-09-19 17:40] Karol-Dluzniewski opened #195 "Some macros still uses dbt_utils instead of dbt_core"
Unfortunately some tests still raises warnings about macros being deprecated from dbt_utils in favor of dbt_core.

integration tests shows this as Warning but with non-warning level.
https://app.circleci.com/pipelines/github/calogica/dbt-expectations/81/workflows/2c35d751-e66e-4ddd-a82a-a67033a7412e/jobs/60/parallel-runs/0/steps/0-107

Same errors occurs on my project

[2022-09-19 17:46] clausherther commented on #195
Hi @Karol-Dluzniewski  - those deprecation warnings are only during the parsing phase and it's b/c dbt-utils didn't wrap the deprecation code with an `if execute`. They go away on a subsequent run.
Re: the warning, that's unrelated and you can ignore. It has to do with the flakiness of the random data generated for the test.

[2022-09-19 17:46] #195 closed

[2022-09-19 17:47] clausherther commented on #195
(fyi, re: the deprecation warnings: https://getdbt.slack.com/archives/CU4MRJ7QB/p1661781392884549?thread_ts=1661487856.978139&cid=CU4MRJ7QB)

[2022-09-20 11:50] pixie79 opened #196 "expect_column_values_to_be_of_type"
I have been trying this test using the DBT-Glue adapter which I believe uses the dbt-spark plugin underneath however it appears to be casting the list of columns as TEXT which is unsupported.

[code]

As far as I can tell that is generated via - dbt_utils.type_string(), i think it should be CASTing as STRING?

Is the a way to override this?

[2022-09-20 15:06] clausherther commented on #196
Hi @pixie79 - couple of things:
- FYI, we only support and test dbt-expectations on Postgres, BigQuery and Snowflake, so I won't be able to diagnose this much further
- Looks like you might be running an older version of dbt-expectations, b/c as of 0.6.0 all data type macros (except timestamp for now) come from `dbt-core` and no longer `dbt_utils`
- Regardless, this is an issue with the `type_stri

[2022-09-20 15:08] clausherther commented on #196
I guess in the short term you could try implementing a version of `type_string()` locally, something like

[code]

[2022-09-20 15:20] clausherther commented on #192
@alison985 I totally forgot that in our own integration testing (i.e. where we test all the tests against various adapters), we use this config:
[code]
We only overwrite `type_timestamp` in `dbt_expectations` for now until dbt-core has this figured out, so in the future, you might just be able to do:
[code]

[2022-09-21 20:07] wasilaq opened #197 "Schema-level tests"
I originally posted this as a [discussion in dbt-utils](https://github.com/dbt-labs/dbt-utils/discussions/655) but it was suggested I move it here!

dbt tests currently tend to be at the model or column level. This discussion poses the question of whether it would be useful to introduce testing at the schema level as well (e.g. test that all models in the same schema have a particular characterist

[2022-09-26 20:05] rudeb0y opened #199 "loosen the version pin on dbt_utils"
dbt_utils is on version 0.9.2 however the pin to the version in re_data is:

[code]

This makes it tricky when combining with other packages.

Can these requirements but loosened, the above wants to install 0.8.6

[2022-09-26 20:10] #199 closed

[2022-09-26 20:10] rudeb0y commented on #199
wrong repo

[2022-09-27 14:22] reinososamanta commented on #185
This will be great! thanks!

[2022-09-29 19:23] mcannamela opened #200 "`expect_compound_columns_to_be_unique` has backward logic for `ignore_row_if`"
Caveat, it's possible I've just misunderstood the intended semantics. If so, sorry.

## What

I noticed when using [expect_compound_columns_to_be _unique](https://github.com/calogica/dbt-expectations#expect_compound_columns_to_be_unique) that it passed when I expected it to fail, evidently because it was not including records with any nulls in its test.

The docs read:

Which led me to believe all

[2022-09-30 17:03] rlebrao opened #201 "Typo in expect_row_values_to_have_data_for_every_n_datepart example"
There's a typo in example:
`https://github.com/calogica/dbt-expectations#expect_row_values_to_have_data_for_every_n_datepart`
There's an extra ")" in this:

    date_part: day
    test_start_date: '2021-05-01'
    test_end_date: '{{ modules.datetime.date.today() - modules.datetime.timedelta(1)) }}'

It should be:
**test_end_date: '{{ modules.datetime.date.today() - modules.datetime.timedelta(1) }}

[2022-10-01 01:34] #201 closed

[2022-10-01 16:32] clausherther commented on #200
Thanks @mcannamela for this issue and the extensive explanation. It's quite possible I mucked this up when I implemented this. The genesis of this whole any/all missing section comes from the original Great Expectations API.

However, I _think_ the logic is correct the way I understood the intent of this parameter.
Let's say we're testing the uniqueness of the combo of `A` and `B`, then we either

[2022-10-01 16:42] clausherther commented on #200
Taking a second look, I think I see what you're saying.
I think the fix might be to move the `not` outside the eval, so maybe
[code]
which I would probably shorten to just change the `and` to `or` conditional on `ignore_row_if`,
[code]

[2022-10-01 16:44] clausherther commented on #200
I get the above to pass if I add these somewhat contrived tests to `schema.yml`
[code]

[2022-10-01 16:50] clausherther commented on #200
Added a quick PR (#202) to capture the above, happy to colab on this if you think more checking of the inputs is warranted!

[2022-10-03 12:32] mcannamela commented on #200
Thanks @clausherther, I think you are correct in your reformulation,  I'll have a look at the PR today.

[2022-10-05 15:11] clausherther opened #203 "Update ignore_row_if logic for all related tests"
See #200 and #202

Affected Tests:
- `expect_select_column_values_to_be_unique_within_record`

[2022-10-05 22:33] #200 closed

[2022-10-07 16:08] #203 closed

[2022-10-12 15:36] clausherther opened #207 "Add negative tests"
We should add tests that are expected to fail to key tests.

[2022-10-12 15:58] #194 closed

[2022-10-20 23:00] samLozier commented on #197
I've been thinking about a similar concept for the last few months.
I've wanted to check (ideally without actually executing dbt to do it) what dbt's output will be. my strategy has been to try to intercept the compiled sql just before it gets sent over the wire to snowflake and then parse that sql with another tool like sqlparse, then check for allowed schemas/materializations. This would allow f

[2022-10-20 23:08] samLozier opened #209 "Q: Possible to used "+" syntax to apply tests to whole directories in dbt_project.yml?"
I've been really liking this package, with the possible issue that I'm finding it a little tedious to repeat tests over and over again for each model in a project.

So far I haven't been able to figure out if it's possible to apply a test whole directory in a given project. For example, this would be a project-level sanity check test (currently not working):

[code]

Is there a slick way to do som

[2022-10-21 03:17] clausherther commented on #209
Thanks @samLozier! I hear you on this getting tedious quickly for large projects. Until dbt supports applying tests at the folder level, I think we're stuck with either copy/pasta or using/writing some sort of yaml generator.
I think that's a little out of scope for this repo. Is this something we should maybe talk to the https://github.com/dbt-labs/dbt-codegen folks about?

[2022-10-22 16:02] clausherther opened #210 "Add Modified Z-Score anomaly detection"
see: https://www.statology.org/modified-z-score/

For timeseries, requires:
- window version of median/percentile function...does this exist for all platforms?

or, we'd test across fixed window via `row_condition`, i.e. `date >= last 30 days` etc

[2022-10-27 16:31] chasemeadows opened #212 "Confusing behavior of macro: dbt_expectations.expect_row_values_to_have_recent_data"
these 2 tests:

https://github.com/calogica/dbt-expectations/blob/main/macros/schema_tests/table_shape/expect_row_values_to_have_recent_data.sql

https://github.com/calogica/dbt-expectations/blob/main/macros/schema_tests/table_shape/expect_grouped_row_values_to_have_recent_data.sql

have unexpected behavior when testing against fields that are date only. For example, in many use cases, these tests

[2022-10-31 16:40] clausherther commented on #212
Hi @chasemeadows, thanks for opening this issue. Could you please add which platform (Postgres, BigQuery, Snowflake) you're on and which version of dbt-expectations you're using? Thanks!

[2022-10-31 16:48] adamcunnington-mlg opened #213 "Warning: the `length` macro is now provided in dbt Core"
We use this test; https://github.com/calogica/dbt-expectations#expect_column_value_lengths_to_equal

Whenever we use it, we get this warning:
[code]

We couldn't quite work out if DBT was telling us to use a new generic test instead of this dbt expectations test OR if the test by dbt_expectations should be updated to accommodate some deprecated functionality / change. We think the latter but pleas

[2022-10-31 16:57] clausherther commented on #213
Hi @adamcunnington-mlg, I think that's still a parsing issue in dbt-utils. They're working on a fix. There's nothing to do on your end w/r/t the test and the test should work as intended.
In dbt-expectations, we removed dependencies on deprecated dbt-utils functions a couple of versions ago, so make sure you're on the latest version. Thanks!

[2022-10-31 16:57] #213 closed

[2022-11-07 13:22] adamcunnington-mlg opened #214 "expect_column_distinct_count_to_equal fails if there is no data!"
We use expect_column_distinct_count_to_equal to assert there are x distinct values.

If there are no rows, there are 0 distinct values - but clearly this shouldn't fail when there are no rows.

Is it right for the test to be tweaked so this doesn't fail - or do you think I should include some where condition? What would my where condition be to say "where there are rows"? Maybe it's a test-specifi

[2022-11-07 14:19] clausherther commented on #214
Hi @adamcunnington-mlg, which DW platform are you using? On my Postgres, BigQuery and Snowflakes instances, this passes:
[code]

[2022-11-07 15:30] adamcunnington-mlg commented on #214
Hi @clausherther, we are using BigQuery. I guess I could add row_condition: false - but semantically, I wondered whether this should be built-in functionality. Very happy to add that condition though for now.

[2022-11-07 15:36] clausherther commented on #214
If your table really contains _now_ rows, than this should work (I only add that row_condition to simulate an empty table, since I didn't have one handy)

[code]

This essentially runs
[code]
which returns `true` for an empty table.

[2022-11-07 15:37] clausherther commented on #214
Still not sure I understand your question or use case correctly.

[2022-11-07 15:41] clausherther commented on #214
Also confirmed that `value: 0` passes if the tables is *not* empty, but the column only contains nulls.

[2022-11-07 15:42] adamcunnington-mlg commented on #214
@clausherther ok, so my use case is very simple:
* when there is data, I want to assert that the distinct count of some column is some number (e.g. 1)
* when my table is empty, this test is simply not relevant. I don't expect it to fail when my table is empty - this is a data profile assertion but there is no data to profile!

I have just realised that `row_condition` is effectively just a where.

[2022-11-07 15:53] clausherther commented on #214
@adamcunnington-mlg where I'm confused is that based on my tests this morning (see above), the test should *not* fail in your case. Can you provide more detail on your test config?

[2022-11-07 15:57] adamcunnington-mlg commented on #214
@clausherther in your example, you are asserting there are 0 distinct values. I am not asserting there will be 0. I will not be changing my test based on whether my table contains data or not.

Or do you expect a distinct count of 1 test to also pass when the table is empty?

[2022-11-07 16:12] clausherther commented on #214
Gotcha. So, I think if your table is empty and you're asserting that the column should contain 1 or more distinct values, then the test _should_ fail. That is, this is working as intended.
In a data warehouse, I don't see value in empty tables other than during development, where we can choose not to run tests, so I don't think we'd want to design test arguments around that use case.

[2022-11-07 16:32] adamcunnington-mlg commented on #214
There can be a huge range of reasons why a table might be empty.

I need to be able to isolate "empty table" without channging my model code to avoid failure. How can I do that or would you need to add a custom parameter?

[2022-11-07 16:56] clausherther commented on #214
Could you expand a bit on those reasons? I'm curious why an empty production fact or dimension table would be valuable in a DW setting?

Could you use `expect_column_distinct_values_to_be_in_set` and include both `0` and your ultimately expected value in the set?

[2022-11-07 17:00] clausherther commented on #214
I would probably recommend implementing `expect_column_distinct_count_to_equal` locally for your use case, with something like `count(distinct col) == {{ value }} or count(distinct col) = 0`.

[2022-11-07 17:00] adamcunnington-mlg commented on #214
fact/dimension? It sounds like you are considering a traditional data warehouse data model only.

Big data & modern ELT patterns have given rise to many different data models. In our case, we have a concept of data feeds which we bought many times over (as there is a degree of similarity in data needs across our client base). In between "onboarding" and actually turning the schedule on, our tables

[2022-11-07 17:12] adamcunnington-mlg commented on #214
Ok, I think that's fair.

I'd be surprised if kimball/inmon still represent the majority of DWH use cases. I think it will depend on the industry and type of use case.
I'd agree this is likely still the majority for incumbent blue chips who are doing data warehousing on internal datasets - but I'd be surprised if that's representative of the majority of the dbt use case - likely more future-orient

[2022-11-07 17:12] #214 closed

[2022-11-16 21:22] pratikpchavan opened #215 "Getting warnings in dbt"
Seeing this warning
Warning: the `type_string` macro is now provided in dbt Core. It is no longer available in dbt_utils and backwards compatibility will be removed in a future version of the package. Use `type_string` (no prefix) instead. The dw_dbt.dbt_expectations_expect_column_values_to_be_in_set_stg_amortization_schedules_charged_off_reason__charged_off_reason_is_not_null__deceased__90_days_p

[2022-11-17 02:31] clausherther commented on #215
Hi @pratikpchavan! This is unfortunately out of our control and a bug in the current version of `dbt-utils`, please see this [Slack thread](https://getdbt.slack.com/archives/CU4MRJ7QB/p1664896617281349?thread_ts=1663582277.414579&cid=CU4MRJ7QB).
These warnings do not affect the tests running, and they will go away as soon as that's patched in `dbt-utils`.

[2022-11-17 02:31] #215 closed

[2022-11-18 03:36] clausherther opened #216 "Remove dependency on dbt-utils"
See issues described in https://github.com/calogica/dbt-date/issues/52

This requires `dbt-date 0.7.0`

[2022-11-18 03:40] #8 closed

[2022-11-19 13:00] pratikchavandev commented on #215
@clausherther https://github.com/dbt-labs/dbt-utils/pull/723

[2022-11-22 03:19] #216 closed